@font-face {
  font-family: josefin-regular;
  src: url(fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: josefin-light;
  src: url(fonts/JosefinSans/JosefinSans-Light.ttf);
}

body {
  margin: 0;
  
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: black;
  font-family: josefin-regular;
}

h1 {
  font-family: josefin-light;
}